@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.Login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #bec1c8, #82c2e5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container > .card {
  width: 350px;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  padding: 40px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.remove {
  display: none;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.selection > div {
  padding: 1.2rem;
  border: 2px solid rgba(128, 128, 128, 0.394);
}
.card > h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #042f46;
}
.card > h2 {
  color: #3875d6;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  margin-bottom: 7px;
}

.card > form {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

form > label {
  color: #fff;
  margin-bottom: 5px;
}
#loginbtn{
  background-color: #70c1ff;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
}
#loginbtn:hover{
  background-color: #085c9d;
}
.card > form > input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

container input[type="submit"] {
  padding: 10px;
  background-color: #fff;
  color: #498ffc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

container input[type="submit"]:hover {
  background-color: #70c1ff;
  color: white;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
  }
}
