.portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  font-size: 20px;
  margin: 2rem 8vw;
  font-weight: 900;
  color: aliceblue;
}
.portal > span {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
select {
  background-color: white;
  border-radius: 4px;
  height: 2.7rem;
  font-size: 16px;
  padding: 6px;
  font-weight: 600;
}

select > option {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 100px #000000 inset;
  font-weight: bolder;
}
select > option :hover {
  background-color: black;
}
.form-n-instruction {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.instructions {
  padding: 35px;
  letter-spacing: 0.3px;
}
.instructions > ul {
  display: flex;
  font-size: 17px;
  font-weight: bolder;
  flex-direction: column;
  gap: 6px;
}
.instructions > h2 {
  text-align: center;
  padding: 20px;
  color: rgb(255, 166, 0);
  font-size: 34px;
  font-weight: bolder;
}

.portal-submit {
  aspect-ratio: 16/9;
  width: 4.3rem;
  border-radius: 6px;
  font-size: 15px;
  margin: 2px;
  border: none;
  font-weight: 600;
  color: aliceblue;
  background-color: rgb(79, 183, 44);
}
.portal-submit:hover {
  background-color: rgb(5, 147, 255);
  cursor: pointer;
}
.feedback-form {
  font-weight: 600;
  min-height: 50rem;
  color: rgb(0, 0, 0);
  /* background-color: #5b61ed; */
}
.feedback > h3 {
  /* margin: 3rem; */
  font-size: 30px;
  background-color: rgb(255, 132, 0);
  padding: 9px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #71461b;
}
.feedback-form > div {
  display: flex;
  min-width: 30vw;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem;

  min-height: 37rem;
  min-width: 60vw;
  background-color: #ededed;
  border: 3px solid rgba(123, 123, 123, 0.402);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.qna {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  flex-direction: column;
  margin: 10px 0rem;
  font-size: 20px;
  /* flex-wrap: wrap; */
}

.question {
  text-align: left;
}

@media (max-width: 868px) {
  .qna {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* text-align: center; */
    /* align-items: center; */
  }
  .instructions li {
    color: rgb(255, 255, 255);
  }
  .feedback,
  .feedback-form > div {
    background-color: rgb(228, 228, 228);
    color: #000000;

    text-align: center;
  }
  .question {
    text-align: left;
  }
}
